*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}

html, body {
    width: 100%;
}

main {
    width: 100%;
}

main section {
    width: 100%;
    padding: var(--padding-2xl);
    display: flex;
    gap: var(--gutter-lg);
}

/* component style */
.btn {
    padding: var(--padding-sm) var(--padding-lg);
    border: none;
    outline: none;
    border-radius: var(--border-radius-md);
    background-color: var(--bg-active-color);
    cursor: pointer;
    color: var(--text-active-color);
}

#reset-btn {
    background-color: var(--bg-danger-color);
    color: var(--text-primary-color);
}

#download-btn {
    background-color: var(--bg-success-color);
    color: var(--text-primary-color);
}

/* left section */

main section .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gutter-lg);
    width: 70%;
}

main section .top {
    display: flex;
    align-items: center;
    gap: var(--gutter-md);
}

/* bottom section */

main section .bottom {
    background-color: var(--bg-secondary-color);
    width: 100%;
    padding: var(--padding-2xl);
    aspect-ratio: 4/3;
    border-radius: var(--border-radius-xl);
    display: flex;
    justify-content: center;
    align-items: center;
}

main section .bottom .placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.6;
    gap: var(--gutter-sm);
}

main section .bottom .placeholder i {
    font-size: 8rem;
}

main section .bottom .placeholder p {
    font-size: var(--font-size-lg);
}

/* right section */

main section .right {
    width: 30%;
    background-color: var(--bg-secondary-color);
    padding: var(--padding-lg);
    border-radius: var(--border-radius-lg);
    display: flex;
    flex-direction: column;
    gap: var(--gutter-md);
}

main section .right .filters {
    display: flex;
    flex-direction: column;
    gap: var(--gutter-md);
}

main section .right .filter {
    width: 100%;
}

/* input custom creation */
main section .right .filter input {
    width: 100%;
    outline: none;
    margin-top: var(--margin-sm);
    appearance: none;
}

/* input bar */
main section .right .filter input::-webkit-slider-runnable-track {
    background-color: var(--bg-active-color);
    height: 3px;
    border-radius: 2px;
}

/* inside input circle */
main section .right .filter input::-webkit-slider-thumb {
    cursor: pointer;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    margin-top: -8.5px;
}

canvas {
    max-width: 80%;
    max-height: 60vh;
    display: none;
}
